<div id="card" class="flash-card card-container" style="display: none;">
  <div class="front card-inner standard-shadow">
    <div class="vert-center">
      <h4><b id="japanese-word"></b></h4>
      <p id="japanese-reading"></p>
    </div>
  </div>  
   <div class="back card-inner standard-shadow">
     <div class="vert-center definition">
    <p id="english-def"></p>
    </div>
  </div>  
</div>

<div class="prompt-container card-container" style="display: none;">
  <div class="prompt standard-shadow">
    <div class="vert-center">
      <h4 id="prompt"></h4>
      <p id="prompt-reading"></p>
    </div>
  </div>

</div>
<div class="answers card-container" style="display: none;">
  <div id="answer0" class="answer standard-shadow">
    <a href="#"></a>
  </div>
  <div id="answer1" class="answer standard-shadow">
    <a href="#"></a>
  </div>
  <div id="answer2" class="answer standard-shadow">
    <a href="#"></a>
  </div>
  <div id="answer3" class="answer standard-shadow">
    <a href="#"></a>
  </div>
</div>
<div id="showable-box" class="button-box" style="display: none;">
  <div id="flip-card-button" class="flip-card-container">
    <span class="card-button">Flip Card</span>
  </div>
  <div id="next-card-button" class="flip-card-container">
    <span class="card-button">Next Card</span>
  </div>
</div>

<div id="nextq-box" class="button-box" style="display: none;">
  <div id="next-question" class="sb-container">
    <span class="card-button">Next Question</span>
  </div>
</div>

<div class="results-container card-container" style="display: none;">
  <div class="results standard-shadow">
    <div class="vert-center">
      <h2>Finished learning!</h2>
      <b>Accuracy:</b> <span id="accuracy"></span>
    </div>
  </div>  
</div>

<div id="read-box" class="button-box" style="display: none;">
  <div id="back-button" class="sb-container">
    <a href="<%= user_path(current_user) %>" class="card-button">Back to Dashboard</a>
  </div>
  <% if !@article_link.nil? %>
    <div id="read-button" class="sb-container">
      <a href="<%= @article_link %>" class="card-button">Read Article</a>
    </div>
  <% end %>
</div>
<%= javascript_pack_tag 'quiz-controller', 'data-turbolinks-track': 'reload' %>
