console.log("edit.js.erb file");
console.log("#entry-<%= @entry.id %>")

$('#ajax_entry_form').remove();
$('<tr><td colspan="4"><%= j (render partial: "form") %></td></tr>').insertAfter('#entry-<%= @entry.id %>');