<div>

  <p id="notice"><%= notice %></p>

  <h1>Vocabulary for this Article</h1>


  <%= render partial: "entry_table", locals: {table_name: "article-words", entries: @entries, tab_name: "Difficult Words", tab_num: "1"} %> 

  <%= render partial: "entry_table", locals: {table_name: "priority-words", entries: @priority_entries, tab_name: "Common Words", tab_num: "2"} %> 

  <%= render partial: "entry_table", locals: {table_name: "grammar-words", entries: @grammar_entries, tab_name: "Grammar Points", tab_num: "3"} %> 

  <br>
</div>
