// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$midnight: #2c3e50;
$clouds: #ecf0f1;
// General
body {
  color: $midnight;
  background: $clouds;
}
h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}
h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}
input[type=radio] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
// Layout
.word {
	min-width: 6em;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 6em;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  border-radius: 0.5em;
 
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -3em; /* Use half of the width (120/2 = 60), to center the tooltip */

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


.row {
  display:flex;
  .col {
    flex:1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0,0,0,0.5);
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  &-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $midnight;
    font-weight: bold;
    cursor: pointer;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .35s;
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all .35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::after {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 60vh;
    padding: 1em;
    overflow: auto;
    position: inherit;
    opacity: 1;
  }
}

.alt-tab {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	
    width: 100%;
    height: 6em;	
}

input[type=submit] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
	&:hover {
		background: #4691A4;
		box-shadow:none;
		-moz-box-shadow:none;
		-webkit-box-shadow:none;		
	}
	&.learn-read {
		margin: 20% auto;
	}
}

.entry-top-bar {
	display: flex;
	flex-wrap: wrap;

	.entry-col1, .entry-col2, .entry-col3 {
		flex-grow: 1;
		height: 100px;
	}
	.entry-col1, .entry-col3 {
		width: 20%;
	}
	.entry-col2 {
		width: 60%;
	}

}
.entry-form {
	margin: 2em auto;
	max-width: 90%;
	
	li {
		padding: 0;
		display: block;
		list-style: none;
		margin: 1em 0 0 0;
	}
	
	label {
		margin: 0 0 0.2em 0;
		padding: 0;
		display: block;
		font-weight: bold;
	}

	

	input[type="checkbox"] {
		display: inline;
		width: auto;
		margin-right: 0.3em;
	}
	
	input[type=text], input[type=date],
	input[type=datetime], input[type=number],
	input[type=search], input[type=time],
	input[type=url], input[type=email],
	textarea, 
    select {
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		border:1px solid #BEBEBE;
		padding: 7px;
		margin:0px;
		-webkit-transition: all 0.30s ease-in-out;
		-moz-transition: all 0.30s ease-in-out;
		-ms-transition: all 0.30s ease-in-out;
		-o-transition: all 0.30s ease-in-out;
		outline: none;	
	}
	input[type=text]:focus, input[type=date]:focus,
	input[type=datetime]:focus, input[type=number]:focus,
	input[type=search]:focus, input[type=time]:focus,
	input[type=url]:focus, input[type=email]:focus,
	textarea:focus, select:focus{
		-moz-box-shadow: 0 0 8px #88D5E9;
		-webkit-box-shadow: 0 0 8px #88D5E9;
		box-shadow: 0 0 8px #88D5E9;
		border: 1px solid #88D5E9;
	}
	.field-divided{
		width: 49%;
	}
	.field-long{
		width: 100%;
	}
	.field-select{
		width: 100%;
	}
	.field-boxes {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: flex-start;
		max-width: 15em;
  
	  	label{
			display: table;
			width: 50%;
			flex-basis: 50%;
			text-align: left;
			padding-top: 9px;
			padding-bottom: 9px;
			vertical-align: baseline;
	    	> *{
	     		display: table-cell;
	     		&:last-child{
	      			width: 100%;
	      			padding-right: 15px;
	     		}
	     		&[class*="icon-"]{
	      			padding-right: 7px;
	     		}
	    	}
	  	}
  
	  	&.quarter label {
	    	flex-basis: 25%;
	    	width: 25%;
	  	}
	}

}

.toggle-switch {
	width: 12em;
	input[type=checkbox] {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}

	label {
		cursor: pointer;
		text-indent: -9999px;
		width: 3.0em;
		height: 1.5em;
		background: grey;
		display: inline-block;
		border-radius: 1.5em;
		position: relative;
		float: right;
	}

	label:after {
		content: '';
		position: absolute;
		top: 0.075em;
		left: 0.075em;
		width: 1.35em;
		height: 1.35em;
		background: #fff;
		border-radius: 1.35em;
		transition: 0.3s;
	}

	input:checked + label {
		background: #4B99AD;
	}

	input:checked + label:after {
		left: calc(100% - 0.075em);
		transform: translateX(-100%);
	}

	label:active:after {
		width: 1.95em;
	}
}

.expandable-alt {
	background: #FFF;
	overflow: hidden;
	transition: all .5s ease-in-out;
	line-height: 0;
	padding: 0 1em;
	color: transparent;
	opacity: 0;
	position: absolute;
	&:target {
		line-height: 1.5;
		padding-top: 1em;
		padding-bottom: 1em;
		color: black;
		opacity: 1;
		position: inherit;
	}
}

a, a.hover, a:hover {
	text-decoration: underline;
	cursor: pointer;

}
